<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>  
    <%-include('./inc/nav')%>
      
      <div class="row">
        <div class="midcolumn">
          <a href="https://github.com/talhaucarr" target="_blank">
            <div class="card2">
            <br><br><br><br>
            <h2 style="text-align: center;">Talha UÇAR</h2>
            <h5 style="text-align: center;">Marmara Üniversitesi Bilgisayar Mühendisliği</h5>
            <p style="text-align: center;">Developer</p>
            <br><br><br><br>
          </div>
          </a>
          <a href="https://github.com/ozdeger" target="_blank">
          <div class="card2">
            <br><br><br><br>
            <h2 style="text-align: center;">Gökay ÖZDEĞER</h2>
            <h5 style="text-align: center;">Marmara Üniversitesi Bilgisayar Mühendisliği</h5>
            <p style="text-align: center;">Game Developer</p>
            <br><br><br><br>
          </div>
        </a>
          <a href="https://github.com/suhileto" target="_blank">
          <div class="card2">
            <br><br><br><br>
            <h2 style="text-align: center;">Sühenda Hilal ETO</h2>
            <h5 style="text-align: center;">Marmara Üniversitesi Bilgisayar Mühendisliği</h5>
            <p style="text-align: center;">Front-End Developer</p>
            <br><br><br><br>
          </div>
        </a>
        <a href="https://github.com/s-kali" target="_blank">
          <div class="card2">
            <br><br><br><br>
            <h2 style="text-align: center;">Süha KÜÇÜKALİ</h2>
            <h5 style="text-align: center;">Marmara Üniversitesi Bilgisayar Mühendisliği</h5>
            <p style="text-align: center;">Back-end Developer</p>
            <br><br><br><br>
          </div>
        </a>
          
        
      </div>
      
      

</body>
</html>