<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./inc/head')%>
</head>
<body>  
  <%-include('./inc/nav')%>
    
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card" style="background-image: url('lol.jpg') ; "width="60%" height="10" >
          </div>
          <div class="card" style="background-image: url('tft.jpg'); "width="100%" height="auto" >

          </div>
          <div class="card" style="background-image: url('wz.jpg'); "width="100%" height="auto" >
            
          </div>
        </div>
        <div class="rightcolumn">
          <div class="test">
            <h2>Project</h2>
            
            <p>Günümüzün en çok oynanan oynaması ücretsiz MOBA oyunu olan League of Legends, TFT ve Warzone, yer yer zor bir oyun olabiliyor.
              Bizim amacımız, bu site ile birlikte insanlara gelişmiş bir şekilde oyun ve oyuncu analizi yapmaktır. 
              Bu şekilde kendimizi geliştirebilir, aynı zamanda oyun içindeki rakipelrimizi önceden tanımamıza olanak sağlayabiliriz.
            </p>
          </div>
          <a href="https://github.com/talhaucarr/talhaucarr.github.io" target="_blank">
          <div class="test">
            <h3 style="text-align: center;">Github</h3>

            
          </div></a>
        </div>
      </div>
      
      <div class="footer">
        <h2 style="color: white;">BUGS</h2>
      </div>

</body>
</html>